[Unit]
Description=Set Fan to 100 Percent
After=multi-user.target

[Service]
Type=oneshot
User=root
ExecStart=/bin/bash -c 'echo 255 | tee -a /sys/devices/pwm-fan/target_pwm'

[Install]
WantedBy=multi-user.target
