[submodule "PCC/libraries/Queue"]
	path = PCC/libraries/Queue
	url = https://github.com/SMFSW/Queue
	branch = master
	shallow = true
[submodule "docs/themes/docsy"]
	path = docs/themes/docsy
	url = https://github.com/google/docsy.git
	branch = master
	shallow = true
