[submodule "PCC/libraries/Queue"]
	path = PCC/libraries/Queue
	url = https://github.com/SMFSW/Queue
	branch = v1.9
	shallow = true
[submodule "docs/themes/docsy"]
	path = docs/themes/docsy
	url = https://github.com/google/docsy.git
	branch = 0.2.0
	shallow = true
