# .vscode folder
.vscode/**
!.vscode/extensions.json

# python cache files
__pycache__/
*.pyc

# python virtual environment for development
.venv/

# pyright
node_modules/

# macOS
**/.DS_Store
PCC/.vscode/c_cpp_properties.json

#intellij - pycharm
.idea
