# .vscode folder
.vscode/**
!.vscode/extensions.json

# python cache files
__pycache__/
*.pyc

# python virtual environment for development
.venv/

# pyinstaller files
*.spec
build/
dist/

# pyright
node_modules/
package.json
package-lock.json

#Logs
Logs/