// hide add child page button
.td-page-meta--child {
    display: none !important;
}

// speed up chevron transition
nav.foldable-nav *::before {
    transition: 0.1s !important;
}

// disable collapse transition on sidebar
ul.foldable {
    transition: none !important;
}

// fix logo sizing
.td-navbar .navbar-brand svg {
    height: 35px;
    width: 30px;
}

// give alerts a background color and box shadow
.alert {
    background-color: #ebebeb;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
}