/* https://brand.bellflight.com/d/46aoWzxRIrjL/brand-guidelines#/visual-identity/color */
$primary: #AB2328;
$secondary: #000000;
$info: #00426A; // Bell Blue 1
$success: #3A913F; // Blue Green 3
$danger: $primary; 

/* custom colors */
$theme-colors: (
  "tip": #998542, // Bell Khaki 3
  "note": $info
);