/* https://brand.bellflight.com/d/46aoWzxRIrjL/brand-guidelines#/visual-identity/color */
$primary: #ab2328;
$secondary: #000000;
$info: #00426a; // Bell Blue 1
$success: #3a913f; // Blue Green 3
$danger: $primary;

/* custom colors */
$theme-colors: (
  // Bell Khaki 3
  "tip": #998542,
  "note": $info
);
