<!-- Makes URL absolute if not -->
{{ $image_url := "" }}
{{ if or ( hasPrefix .Destination "/" ) ( hasPrefix .Destination "http" ) }}
    {{ $image_url = .Destination | safeURL }}
{{ else }}
    {{ $image_url = printf "%s%s%s" ("/") (replace .Page.File.Dir "\\" "/") (.Destination | safeURL) }}
{{ end }}

{{ if and (ne site.BaseURL "/") (ne site.BaseURL "") }}
    {{ $image_url = printf "%s%s" (site.BaseURL) ($image_url) }}
{{ end }}

<img loading="lazy" class="glightbox" src="{{ $image_url }}" alt="{{ .Text }}">
{{ if .Text }}
<!-- Allow markdown in the subtitle -->
<p class="glightbox-subtitle">{{ safeHTML .Text }}</p>
{{ end }}