// hide add child page button
.td-page-meta--child {
  display: none !important;
}

// speed up chevron transition
nav.foldable-nav *::before {
  transition: 0.1s !important;
}

// disable collapse transition on sidebar
ul.foldable {
  transition: none !important;
}

// fix logo sizing
.td-navbar .navbar-brand svg {
  width: 50px;
}

// old shield logo
// .td-navbar .navbar-brand svg {
//   height: 35px;
//   width: 30px;
// }

// fix code blocks and cards being limited to 80% width
// at all screen resolutions
@media (max-width: 992px) {

  .card,
  .td-content .highlight {
    max-width: none;
  }
}

// give alerts a background color and box shadow
.alert {
  background-color: #ebebeb;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}

// https://spdevuk.com/how-to-create-code-copy-button/
div.highlight button {
  color: #adb5bd;
  box-sizing: border-box;
  transition: 0.2s ease-out;
  cursor: pointer;
  user-select: none;
  background: rgba(0, 0, 0, 0.15);
  border: 1px solid rgba(0, 0, 0, 0);
  padding: 5px 10px;
  font-size: 0.8em;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 0 0.15rem;
}

// extra image styling

// center image, and add a max height
.glightbox {
  margin-left: auto;
  margin-right: auto;
  display: block;
  max-width: 100%;
  max-height: 60vh;
}

// make the subtitle closer to the image, and soften the color
.glightbox-subtitle {
  text-align: center;
  margin-top: -1em;
  color: grey;
}

// Fix page scroll being reset on image open
.glightbox-open {
  overflow: initial !important;
}

// Add magnifying glass icon to image on hover
.glightbox:hover {
  cursor: zoom-in !important;
}


