name: Publish Docs

on:
  workflow_dispatch:
  pull_request:
    branches:
      - main
    paths:
      - "docs/**"
  push:
    branches:
      - main
    paths:
      - "docs/**"

jobs:
  build:
    runs-on: ubuntu-latest
    if: "!contains(github.event.head_commit.message, 'ci skip')"

    steps:
      - name: Checkout Code
        uses: actions/checkout@v2
        with:
          submodules: recursive

      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: "16"
          cache-dependency-path: docs
          cache: npm

      - name: Setup Python
        uses: actions/setup-python@v3
        with:
          python-version: "3.9"
          cache-dependency-path: docs
          cache: pip

      - name: Install Dependencies
        working-directory: docs
        run: |
          npm install
          python -m pip install pip wheel --upgrade
          python -m pip install -r requirements.txt

      - name: Check Formatting
        working-directory: docs
        run: npm run check-formatting

      - name: Build Site
        working-directory: docs
        run: npm run build

      - name: Check For Broken Links
        working-directory: docs
        run: npm run check-links

      - name: Deploy Site
        if: github.event_name != 'pull_request'
        uses: peaceiris/actions-gh-pages@v3.8.0
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_branch: gh-pages
          publish_dir: docs/public
