name: Build Docs

on:
  workflow_dispatch:
  pull_request:
    branches:
      - docs
  push:
    branches:
      - docs

jobs:
  docs-build:
    runs-on: ubuntu-latest
    if: "!contains(github.event.head_commit.message, 'ci skip')"

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3
        with:
          submodules: recursive

      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: "18"
          cache: npm

      - name: Install Dependencies
        run: npm install

      - name: Check Formatting
        run:  npm run check-formatting

      - name: Build Site
        working-directory: docs
        run: npm run build

      # - name: Check For Broken Links
      #   working-directory: docs
      #   run: npm run check-links

      - name: Deploy Site
        if: github.event_name != 'pull_request'
        uses: peaceiris/actions-gh-pages@v3.8.0
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_branch: gh-pages
          publish_dir: public