name: Build GUI

on:
  workflow_dispatch:
  pull_request:
    branches:
      - main
    paths:
      - "GUI/**"
  push:
    branches:
      - main
    paths:
      - "GUI/**"

jobs:
  build:
    runs-on: windows-latest
    if: "!contains(github.event.head_commit.message, 'ci skip')"

    steps:
      - name: Checkout Code
        uses: actions/checkout@v2

      - name: Setup Python
        uses: actions/setup-python@v3
        with:
          python-version: "3.9"
          cache: pip
          cache-dependency-path: GUI

      - name: Copy Libraries
        run: python scripts/copy_libraries.py

      - name: Prepare Python
        run: |
          python -m pip install pip wheel --upgrade
          python -m pip install -r GUI/requirements.txt

      - name: Build GUI
        run: pyinstaller GUI/app.py --onefile --name VRCGUI --icon GUI/lib/img/logo.ico --add-data "GUI/lib/img;lib/img" --noconfirm

      - name: Get Latest Release
        if: github.event_name != 'pull_request'
        id: latest_release
        uses: gregziegan/fetch-latest-release@v2.0.0
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}

      - name: Upload GUI to Release
        if: github.event_name != 'pull_request'
        uses: svenstaro/upload-release-action@v2
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: dist/*.exe
          file_glob: true
          tag: ${{ steps.latest_release.outputs.tag_name }}
          overwrite: true
