name: Build PCC Firmware

on:
  workflow_dispatch:
  pull_request:
    branches:
      - main
    paths:
      - "PCC/**"
  push:
    branches:
      - main
    paths:
      - "PCC/**"

jobs:
  pcc-build:
    runs-on: ubuntu-latest
    if: "!contains(github.event.head_commit.message, 'ci skip')"

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3
        with:
          submodules: recursive

      - name: Set up Python
        uses: actions/setup-python@v3
        with:
          python-version: "3.9"
          cache: pip
          cache-dependency-path: PCC

      - name: Install PlatformIO
        run: |
          python -m pip install pip wheel --upgrade
          python -m pip install -r PCC/requirements.txt

      - name: Apply Patches
        run: git apply --verbose ../queue-default.patch
        working-directory: PCC/libraries/Queue

      - name: Build Firmware
        run: pio run --verbose
        working-directory: PCC

      - name: Rename Firmware
        shell: bash
        run: cp firmware.bin pcc_firmware.$(git rev-parse --short HEAD).bin
        working-directory: PCC/.pio/build/adafruit_feather_m4

      - name: Get Latest Release
        if: github.event_name != 'pull_request'
        id: latest_release
        uses: gregziegan/fetch-latest-release@v2.0.0
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}

      # - name: Delete Existing Firmware
      #   if: github.event_name != 'pull_request'
      #   uses: mknejp/delete-release-assets@v1
      #   with:
      #     token: ${{ github.token }}
      #     tag: ${{ steps.latest_release.outputs.tag_name }}
      #     assets: '*.bin'

      - name: Upload Firmware to Release
        if: github.event_name != 'pull_request'
        uses: svenstaro/upload-release-action@v2
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: PCC/.pio/build/adafruit_feather_m4/pcc_firmware*.bin
          file_glob: true
          tag: ${{ steps.latest_release.outputs.tag_name }}
          overwrite: true
