name: Build PCC Firmware

on:
  workflow_dispatch:
  pull_request:
    branches:
      - main
    paths:
      - "PCC/**"
  push:
    branches:
      - main
    paths:
      - "PCC/**"

jobs:
  build:
    runs-on: ubuntu-latest
    if: "!contains(github.event.head_commit.message, 'ci skip')"

    steps:
      - name: Get Latest Release
        id: latest_release
        uses: gregziegan/fetch-latest-release@v2.0.0
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}

      - name: Checkout Code
        uses: actions/checkout@v3
        with:
          submodules: recursive

      - name: Set up Python
        uses: actions/setup-python@v3
        with:
          python-version: "3.9"
          cache: pip
          cache-dependency-path: PCC

      - name: Install PlatformIO
        run: |
          python -m pip install pip wheel --upgrade
          python -m pip install platformio --upgrade

      - name: Apply Patches
        run: git apply ../queue-default.patch
        working-directory: PCC/libraries/Queue

      - name: Build Firmware
        run: pio run --verbose
        working-directory: PCC

      - name: Rename Firmware
        run: cp firmware.bin pcc_firmware.bin
        working-directory: PCC/.pio/build/adafruit_feather_m4

      - name: Upload Firmware to Release
        if: github.event_name != 'pull_request'
        uses: svenstaro/upload-release-action@v2
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: PCC/.pio/build/adafruit_feather_m4/pcc_firmware.bin
          tag: ${{ steps.latest_release.outputs.tag_name }}
          overwrite: true
